@media screen and (max-width: 768px){
  .search-results{
    padding: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search-result{
    width: 95%;
    height: 100%;
  }
}

@media screen and (max-width: 480px){
    .search-result{
      height: 100%;
      padding: 0px;
    }

    img {
      height: 150px;
    }
}
  
